doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/stylebooking.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
  title Welcome
#slideout-menu
  ul
    li
      a(href='/') Home
    li
      a(href='/medtracker') Medicine Timer
    li
      a(href='/contact') Contact Ambulance
    li
      a(href='/aboutcovid') Covid-19 Precautions
    li
      input(type='text' placeholder='Search Here')
    if user
      li
        img#user-photo(src=`/img/users/${user.photo}`)
        a#navName(href='/me')= `Hi, ${user.name}`
      li
        a(href='#') Logout
    else
      li
        a(href='/login') Log in
      li
        a(href='/signup') Sign up
nav
  #logo-img
    a(href='#')
      img(src='/img/logo.jpg' alt='Medcare Logo')
  #menu-icon
    i.fas.fa-bars
  ul
    li
      a.active(href='/') Home
    li
      a(href='/medtracker') Medicine Timer
    li
      a(href='/doctors') Contact Doctor
    li
      a(href='/aboutcovid') Covid-19 Precautions
    if user
      li
        img#user-photo(src=`/img/users/${user.photo}`)
        a#navName(href='/me')= `Hi, ${user.name}`
      li
        a(id='logoutbtn' href='/') Logout
    else
      li
        a(href='/login') Log in
      li
        a(href='/signup') Sign up
#searchbox
  input(type='text' placeholder='Search Here')
.wrap
  .search_box
    input#searchFilter(type='text' placeholder='Search Doctors?')
    a#anchorTest
      i#searchDoc.fas.fa-search(style='cursor: pointer')
each doctor,i in doctors
    .container
      .col.s12.m7
        .blog-card
          .meta
            .photo(style=`background-image: url(/img/doctors/${doctor.photo})`)
            ul.details
              li.author
                a(href='#')= `Dr. ${doctor.name}`
              li.Phone.Number= `${doctor.specialisation}`
              li.tags
          .description
            h1= `Dr. ${doctor.name} || MS MBBS`
            h2= `${doctor.specialisation}`
            h2= `experience: ${doctor.experience} years`

            p= `${doctor.hospital}`
            p.read-more
              a.bookAppointment(href='#' data-docid=`${doctor._id}`) Book an appointment

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js")
script(src='/js/docFilter.js')
script(src='/js/index.js')
script(src='/js/login.js')

